.cartContainerItem {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-right: 10px;
}
.removeButton {
  width: 15px;
  padding: 0px;
  height: 15px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  color: red;
  margin: 0 2.5px;
}
.topContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.removeButton:hover {
  transition: 0.2s;
  width: 20px;
  height: 20px;
  margin: 0;
  font-size: 17px;
}
